name: CI

on:
  push:        # run this workflow on every push
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest   # GitHub gives us a Linux machine

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Basic syntax check
        run: |
          python -m compileall .
